html {
  height: 100%;
  width: 100%;
}

* {
  font-family: "Playfair", serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

ul li {
  margin: 10px;
}
